@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.home,
.pilihtes,
.rules,
.soal{
  padding-top: 30px;
  padding-bottom: 42px;
  padding-left: 60px;
  padding-right: 60px;
  width: 1366px;
  max-width: 100%;
  height: 100%;
  background: #FFFFFF;
}

.login,
.signup,
.pilihtes,
.rules{
  overflow: hidden;
}