@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

a:hover{
    text-decoration: none;
}

.hero p.judul{
    position: absolute;
    top: 129px;
    font-weight: bold;
    font-size: 64px;
    line-height: 96px;
    color: #17181F;
    z-index: 1;
}

.hero hr{
    display: block;
    position: absolute;
    width: 573px;
    left: 68px;
    top: 267px;
    border: 6px solid #ACA9E0;
    border-radius: 0;
    z-index: 0;
}

.hero img.pencil{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 566px;
    top: 122px;
}

.hero img.people{
    position: absolute;
    width: 591px;
    height: 622px;
    left: 756px;
    top: 118px;
    z-index: 1;
}

.hero img.wave_big{
    position: absolute;
    width: 1374.5px;
    height: 265.71px;
    left: 0px;
    top: 534.29px;
    z-index: 2;
}

.hero img.wave_pink{
    position: absolute;
    width: 1381px;
    height: 150px;
    left: 43px;
    top: 534px;
}

button.btn-main{
    position: absolute;
    width: 131px;
    height: 46px;
    left: 60px;
    top: 339px;
    background: #CB69C1;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #F8F8FA;
    filter: drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) 
            drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) 
            drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
    transition: all ease 0.3s;
}

button.btn-main:hover{
    background: #da78d0;
    color: #F8F8FA;
    top: 335px;
    transition: all ease 0.3s;
}