@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.pilihtes p.judul{
    margin-bottom: 24px;
    position: relative;
    left: 45%;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #17181F;
}

.pilihtes a.one,
.pilihtes a.two{
    margin-top: 5px;
}

.pilihtes li a.nav-link.one:hover + hr.beranda{
    display: block;
    left: 835px;
    animation: underline1 0.3s;
    animation-fill-mode: both;
}

.pilihtes li a.nav-link.two:hover + hr.cara{
    display: block;
    left: 969px;
    animation: underline2 0.3s;
    animation-fill-mode: both;
}

.pilihtes hr.line1{
    position: absolute;
    width: 78px;
    height: 0px;
    left: 12px;
    top: 20px;
    border: 5px solid #6C72CB;
}

.pilihtes .container{
    width: 930px;
    padding: 0;
}

.pilihtes .tes-con{
    display: flex;
    justify-content: center;
}

.pilihtes .tes{
    width: 331px;
    height: 397px;
    background: #FAFAFA;
    border: 1px solid #E7E7E7;
    border-radius: 16px;
}

.pilihtes .tes:hover{
    box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 
                0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 
                0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 
                0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 
                0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.tes img.soalgambar{
    margin-top: 52px;
    margin-left: 50px;
}

.tes img.soalteks{
    margin-top: 52px;
    margin-left: 30px;
}

.tes p.jenis_tes{
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-top: 52px;
    color: #17181F;
}

.pilihtes img.wave_tes{
    position: absolute;
    left: 0px;
    top: 656px;
}

.pilihtes img.segitigakiri{
    position: absolute;
    width: 147.53px;
    height: 349.24px;
    left: 37px;
    top: 183px;
}

.pilihtes img.segitigakanan{
    position: absolute;
    width: 174.53px;
    height: 327.53px;
    left: 1135px;
    top: 230px;
}