@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

.signup{
    padding: 0;
    border: 1px solid black;
    background-color: salmon;
}

.signup img.wave_signup{
    position: absolute;
    width: 1370px;
    height: 702px;
    left: 0px;
    top: -7px;
}

.signup .box{
    position: absolute;
    width: 368px;
    height: 435px !important;
    left: 499px;
    top: 135px;
    height: 400px;
    background: #FFFFFF;
    border: 2px solid #E2E2E2;
    box-sizing: border-box;
    box-shadow: 0px 41.7776px 33.4221px rgba(108, 114, 203, 0.0503), 
                0px 22.3363px 17.869px rgba(108, 114, 203, 0.0417), 
                0px 12.5216px 10.0172px rgba(108, 114, 203, 0.034), 
                0px 6.6501px 5.32008px rgba(108, 114, 203, 0.0283), 
                0px 2.76726px 2.21381px rgba(108, 114, 203, 0.017);
    border-radius: 16px;
    z-index: 2;
    padding-top: 32px;
    padding-bottom: 52px;
    padding-left: 32px;
    padding-right: 32px;
}

.signup .box.update{
    height: 355px !important;
    top: 155px;
}

.signup p.judul{
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #17181F;
    margin-bottom: 0px;
}

.signup .line{
    position: relative;
    left: 44%;
    width: 38px;
    height: 0px;
    border: 2px solid #6C72CB;
    border-radius: 3px;
}

.signup form{
    /* border: 1px solid black; */
    margin-top: 14px;
}

.signup label{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-top: 12px;
}

.signup input{
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    width: 100%;
    height: 37px;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    padding-left: 18px;
    margin-top: 10px;
}

.signup button.btn-main{
    width: 116px;
    height: 38px;
    border-radius: 10px;
    font-size: 14px;
    position: relative;
    top: 24px;
    left: 90px;
}

.signup button.btn-main:hover{
    top: 24px;
}

.signup p.daftar a:hover{
    text-decoration: underline;
}

/* UPDATE */
